<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Add Money</title>
</head>
<body>
    {% block body %}

        <a href="/">Home</a>
        <div class="createaccountformb">
    <h1>Add Money</h1>
    <form action="/add_money.html" method="POST">
        <label for="card_number">Card Number:</label>
        <input type="text" id="card_number" name="card_number" required><br><br>
        
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" required><br><br>
        
        <label for="expiration_date">Expiration Date:</label>
        <input type="text" id="expiration_date" name="expiration_date" placeholder="MM/YYYY" required><br><br>
        
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" min="0" required><br><br>
    
        <label for="transaction_type">Transaction Type:</label>
        <select id="transaction_type" name="transaction_type" required>
            <option value="credit">Credit</option>
            <option value="debit">Debit</option>
        </select><br><br>
        
        <input type="submit" value="Submit">
    </form>
    </div>
    {% endblock %}
</body>
</html>

