<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>

    <div class="homeCreateAccount">
        <center>
            <div class="outerHomeCreate">
                <div class="registeraccount">
                    <p>Welcome to Steven's Banking System!</p>
                    <p>Create an account with us now and unlock exclusive benefits</p>
                    <div class="createAccountSend">
                        <p><a href="/createA.html">Create Account</a></p>
                    </div>
                    <p>
                        Already have an account? Login!
                    </p>
                    <div class="loginSend">
                        <p><a href="/login.html">Login</a></p>
                    </div><br>
                    <p>Login as an Admin:</p>            <p><a href="/bankerlogin.html">Admin Login</a></p>
                </div>
            </div>
        </center> 
    </div>

</body>
</html>