<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Money Transfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% block body %}
    <div class="createaccountform">
        <h1>Money Transfer</h1>
        <form action="/transfer" method="post">
            <label for="recipient_account_id">Recipient's Bank Account Number:</label><br>
            <input type="text" id="recipient_account_id" name="recipient_account_id" required><br>
            <label for="amount">Amount to Transfer:</label><br>
            <input type="number" id="amount" name="amount" min="0" required><br><br>
            <input type="submit" value="Transfer">
        </form>
    </div>
    {% endblock %}
</body>
</body>

</html>
<body id="accountback">
        
