<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <table>
        <thead>
            <tr>
                <th>Bank Account ID:</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone Number</th>
                <th>SSN</th>
                <th>Checkings:</th>
                
                <th id="rightpanel">SSN</th>

            </tr>
        </thead>
        <tbody>
            {% for row in AccountData %}
                <tr>
                <td>{{ AccountData[0] }}</td>
                <td>{{ AccountData[1] }}</td>
                <td>{{ AccountData[2] }}</td>
                <td>{{ AccountData[3] }}</td>
                <td>{{ AccountData[4] }}</td>
                <td>{{ AccountData[5] }}</td>
                <td>{{ AccountData[6] }}</td>
                <td>{{ AccountData[7] }}</td>
                    <td><button onclick="window.location.href='add_money.html'">Add Money</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>